<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="classes">
  <test name="test1">
    <classes >
      <class name="com.bergin.ngtest.NewTest2"/>
      <class name="com.bergin.ngtest.NewTest3"/>
      <class name="com.bergin.ngtest.NewTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
